:root {
    --font-family: 'Inter', sans-serif;
    --container-background: #e4eaf6;
    --white: #ffffff;

    --indigo: #3567d0;
    --base-color: #41505a;
    --dark-purple: #48336e;
    --light-gray: #c1cbd6;
    --gray: #a2aeb8;
    --purple: #9a61f5;
    --light-blue: #c0d2f1;

    --light-blue-rgb: 192, 210, 241;
    // --purple-rgb: 154,97,245;
}
